/* staff.css */
.staff-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .staff-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 120px;
    margin-bottom: 20px;
  }
  
  .staff-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex-wrap: wrap; 
    background: hsl(319, 51%, 28%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  
  .staff-card img {
    border-radius: 8px;
    width: 100%;
    max-width: 350px; 
    height: auto;
  }
  
  .staff-card h3 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #fff;
  }


  
  .staff-card p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #fff;
  }
  
  .staff-card:nth-child(odd) {
    flex-direction: row; 
  }
  
  .staff-card:nth-child(even) {
    flex-direction: row-reverse; 
  }
  

  .staff-card > img {
    flex: 2; 
  }
  
  .staff-card > div {
    flex: 1; 
  }
  
  /* Small screen layout (max-width: 768px) */
  @media (max-width: 768px) {
    .staff-card {
      flex-direction: column; 
      gap: 20px;
      padding: 15px;
    }
  
    .staff-card img {
      width: 100%;
      max-width: 100%; 
      height: auto; 
    }
  
    .staff-card > div {
      width: 100%;
      padding: 10px;
    }
  
    .staff-container h2 {
      font-size: 1.75rem;
      margin-bottom: 20px;
    }
  
    .staff-card h3 {
      font-size: 1.3rem;
      margin-bottom: 5px; 
      text-decoration: underline;
    }
  
    .staff-card p {
      font-size: 1.2rem; 
    }
  }
  
  /* Very small screens (max-width: 480px) */
  @media (max-width: 480px) {
    .staff-container {
      padding: 10px;
    }
  
    .staff-card h3 {
      font-size: 1.2rem;
    }
  
    .staff-card p {
      font-size: 0.85rem;
    }
  }
  